@import url(//db.onlinewebfonts.com/c/9b06ae83a4412168ed194a8ed31218c2?family=Mabry+Pro+Medium);
@font-face {font-family: "Mabry Pro Medium"; src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot"); src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.svg#Mabry Pro Medium") format("svg"); }
* {
    margin: 0;
    padding: 0;
    border: 0px solid black;
    box-sizing: border-box;
    font-family: "Mabry Pro Medium", sans-serif;
}
html{
    font-size: 16px;
}
article{
    max-width: 560.8px;
    width: 100%;
    min-height: 457px;
    height: 100%;
}
.articledescription{
    margin-bottom: 48px;
    line-height: 0.9em;
    padding: 6px 0;
    
}
#articledescription{
    display: none;
}
.btn {
    padding: 0.7rem 1.75rem;
    font-size: 0.93rem;
    font-weight: bold;
    color: white;
    background-color: #382383;
    height: 54px;
    border-radius: 10px;
    max-width: ;
}
.btn:hover{
    background-color: rgb(99,216,147);
}
#buysell{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1.2em;
    color: #201749;
}
.carat{
    margin-left: 16px;
    height: 18px;
    width: 18px;
    font-size: 10px;
    padding-top: 3px;
   
}
.container{
    display: flex;
    min-height: 108px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1300px;
    width: 100%;
    
}
#download-instruction{
    font-size: 16px;
    color: #4C4A55;
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: lighter;
}
.downloadlinks{
    color: rgb(236, 97, 168);
    font-size: 16px;
    font-weight: bold;
}

.dropdown-content{
    position: absolute;
    display: none;
    z-index: ;
    width: 100%;
    top:0;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    padding-top: ;
}

.dropdown-content a{
    display: inline-block;
    width: 20vw;
    height: 250px;
    padding: 40px;
    color: #382383;
    text-decoration: none;
    font-weight: bold;
}
.dropdown-content a p{
    padding: 10px;
    margin: 10px auto;
}

#fix{
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    
}

header{
    position: fixed;
    width: 100vw;
    z-index: 15;
    background-color: white;
    display: flex;
    justify-content: center;
}
#hero{
    min-height:522px;
    height: 100%;
    max-width: 542px;
    min-width: 542px;
    width: 100%;
}
#logo{
    max-width: 6.09rem;
    min-height: 1.875rem;
    z-index: ;
}

main{
    display: flex;
    padding-top:200px;
    align-items: center;
    justify-content: center;
}
main figure{
    /* padding: 0 71px 0 71px; */
    max-width: 43.125rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu-name{
    font-size: 1.2rem;
    font-weight: bolder;

}
.menu-description{
    font-size: 1rem;
    color: #4C4A55;
    font-weight: normal;
}

nav{
    background-color: white;
    max-width: 419px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-image{
    width: 27px;
    height: 28px;
}

.nav-item{
    display: inline-block;
    transition: transform .5s ease-in-out;
    z-index: 
}
.nav-item:hover .carat{
    transition: transform .5s ease-in-out;
    transform: rotate(-180deg);
}
.nav-item:hover {
    color: rgb(236, 97, 168);
}
nav .dropbtn{
    font-size: 1rem;
    color: #4C4A55;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;


}
nav .dropbtn:hover{
    color: rgb(236, 97, 168);
}

#products{
    border: 1px solid black;
}
#products:hover{
   

}

/* #products:hover #content1{
    display: flex;
}
#resources:hover #content2{
    display: flex;
}
#company:hover #content3{
    display: flex;
} */
section{
   
    max-width: 1275px;
    
}
.sign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;

}

.sign .btn{

}
.sign a{
    text-decoration: none;
    color: #382383;
    font-weight: bold;
    display: inline-block;
    height: fit-content;
    margin-right: 15px;
}







/* .slide-item{
    display: inline-block;
    max-width: 280px;
    min-height: 118px;
    margin: 0px 15px;
}

.slide-item:hover{
    opacity: 0.5;
}

.first-slide-item{
    margin-left: -10px;
}
.last-slide-item{
    margin-right: -6px;
}

.slide-item img{
    width: 292px;
    height: 118px;
    border-radius: 8px;
}
#slider{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    overflow: hidden;
    border-radius: 20px;
    width: 1280px;
}

#slides{
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*flex-shrink: 0;
    margin-right: 0px;*/
    /* transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}
.slideprev{
    position: relative;
    z-index: 5;
    width: 35px;
    height: 100%;
    background-color: rgba(39, 170, 35,1);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:none ;
    border: none;
}
.slidenext{
    position: relative;
    width: 35px;
    z-index: 5;
    height: 100%;
    background-color: rgba(189, 23, 23, 1);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    margin-right: 2px;
}

#slider::before,#slider::after{
    position: absolute;
    width: 25px;
    height: 118px;
    border-width: 4px 4px 4px 4px;
    padding: 3px;
    padding-top: 35px;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 40px;
    z-index: 1;
    background-color: #4C4A55;
    opacity: 0.9;
    pointer-events: none;
}
#slider::before{
    left:126px;
    border-radius: 8px 0 0 8px;
    content: '<';
}
      
#slider::after{
    right: 126px;
    border-radius: 0 8px 8px 0;
    content: '>';
}
#slider::after:hover{
}

#slides::-webkit-scrollbar {
    display: none;
  }
#slider */

@media only screen and (max-width: 1020px) {
    html{
        font-size: 14px;
    }
    #logo{
        max-width: 6.80rem;
        min-height: 2.75rem;
        z-index: ;
    }
    nav{
        display: none;
    }
    .sign .btn{
        padding: 0rem 2.7rem;
        min-height: 3.5rem;
        height: 100%;
        font-size: 1rem;
    }
    .sign a {
        display: none;
    }
    .btn{
        padding: 0.45rem 4.5rem;
        font-size: 1.15rem;
    }
    .container{
        padding-right: 4rem;
        padding-left: 4rem;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 5rem;
        padding-right: 5rem;
        

    }
    #buysell {
        font-size: 3.8rem;
        display: flex;
        max-width:760.41px;
        width: 100%;
        justify-content: center;
    }
    article{
        max-width: 55rem;
        width: 100%;
        min-height: min-content;
        margin-bottom: 5rem;
    }
    .articledescription{
        display: none;
        
    }
    #articledescription{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 3.43rem;
    }
    .joinup{
        display: flex;
        justify-content: center;
    }
    #download-instruction{
        font-size: 1.0rem;
        display: flex;
        justify-content: center;
    }
    .downloadlinks{
        font-size: 0.95rem;
        display: flex;
        justify-content: center;
    }
    .downloadlinks span{
        padding-right: 1rem;
    }
    #hero{
        max-width: 348px;
        min-width: 348px;
        width: 100%;
        min-height: 334px;
        height: 100%;
    }
}


@media only screen and (max-width: 767px){
    html{
    
    }
    #hero{
        display: none;
    }
    #buysell{
        font-size: 3.2rem;
    }
    main{
        padding-top: 170px;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .downloadlinks{
        display: block;
    }
    #download-instruction{
        display: block;
    }
    .joinbtn{
        width: 100%;
    }
    #articledescription{
        display: block;
    }
}

